html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Gilroy';
  font-weight: 500;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

span {
  display: block;
}

/* ШРИФТЫ */

@font-face {
  font-family: "Gilroy";
  src: local('Gilroy Bold'), local('GilroyBold'),
    url('../fonts/GilroyBold.woff2') format('woff2'),
    url('../fonts/GilroyBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Medium'), local('GilroyMedium'),
    url('../fonts/GilroyMedium.woff2') format('woff2'),
    url('../fonts/GilroyMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

/* ПЕРЕМЕННЫЕ */
:root {
  --clr-active: #070707;
  --clr-still: #828282;
  --text-size: 18px;
  --title-size: 34px;
}

/* __________________ */

/* ПОВТОРЯЮЩИЕСЯ СТИЛИ */

.container {
  position: relative;
  width: 950px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-footer {
  width: 400px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.reset-title {
  margin: 0;
  text-align: center;
  font-size: 34px;
  line-height: 1;

}

.reset-tx {
  margin: 0;
}

/* __________________ */

/* HEADER */

.header {
  padding-top: 32px;
  padding-bottom: 37px;


}

.menu {
  padding-bottom: 32px;
  border-bottom: 1px solid #828282;
}

.menu__link {
  font-size: 18px;
  line-height: 1;
  color: var(--clr-still)
}

.menu__link::after {
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  opacity: 0;
}

.menu__link:focus {
  color: var(--clr-active);
}

.menu__link:focus::after {
  opacity: 1;
}


.menu__link:hover {
  color: var(--clr-active);
}

.menu__link:hover::after {
  opacity: 0;
}

.menu__link:active {
  color: var(--clr-still);
}

.menu__link:active::after {
  opacity: 1;
}

.menu__item:not(:last-child) {
  margin-right: 151px;
}


/* __________________ */

/* HOME */

.home {
  padding-bottom: 104px;
}

.home__block-top {
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 31px;
}

.home__title {
  display: block;
  font-size: 47.3392px;
  line-height: 59px;
  width: 235px;
  text-align: left;
  font-weight: bold;
}

.home__info-wrap {
  flex-direction: column;
}

.home__block-bottom {
  height: 387px;
  overflow: hidden;
}

.home__button-wrap {
  transform: rotate(-90deg);
  position: relative;
  left: 30px;
  bottom: 32px;
}

.btn {
  font-size: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color .3s ease;
  color: var(--clr-still);

}


.btn:hover {
  color: var(--clr-active);

}

.btn-lang__ru::after {
  display: inline-block;
  content: " ";
  width: 2px;
  height: 14px;
  background-color: black;
  transform: translate(7px, 3px);
}

/* __________________ */

/* ABOUT ME */

.about-me {
  padding-top: 120px;
  padding-bottom: 107px;
  background-color: #F6F6F6;
}

.about-me__title {
  margin-bottom: 18px;

}

.about-me__descr {
  margin: 0 auto;
  width: 480px;
}

.about-me__tx {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.about-me__tx:nth-child(n+2) {
  margin-bottom: 47px;
}

.about-me__tx:last-child {
  margin-bottom: 0;
}



/* __________________ */

/*SKILLS*/

.skills {
  padding-top: 91px;
  padding-bottom: 110px;
}

.skills__title {
  margin-bottom: 70px;
}

.skills__descr {
  margin-bottom: 84px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
}

.list__img {
  fill: #070707;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.list__name {
  margin-bottom: 30px;
}

.stars__item-ok {
  fill: #070707;

}

.stars__item-nok {
  fill: #E5E5E5
}

.skills__list {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;

}

.list__item {
  margin-right: 138px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.list__item:nth-child(4n) {
  margin-right: 0;
}



/* __________________ */
/* PORTFOLIO */

.portfolio {
  padding-top: 110px;
  padding-bottom: 97px;
  background-color: #F6F6F6;
}



.portfolio__title {
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 47px;

}

.portfolio__img {
  margin-bottom: 45px;
}

.portfolio__wrap {
  margin-bottom: 100px;
  justify-content: center;
}

.portfolio__link {
  text-align: center;
  color: var(--clr-still);
  transition: color .3s ease-in-out;
}

.portfolio__link:focus {
  color: var(--clr-active)
}

.portfolio__link:hover {
  color: var(--clr-active)
}

.portfolio__link:active {
  color: var(--clr-active)
}

.portfolio__link-icon {
  stroke: var(--clr-still);
  vertical-align: middle;
  width: 10px;
  height: 18px;
  transition: transform .3s ease-in-out, stroke .3s ease-in-out;
}

.portfolio__link:focus .portfolio__link-icon {
  transform: translateX(0px);
  stroke: var(--clr-active);
}

.portfolio__link:hover .portfolio__link-icon {
  transform: translateX(14px);
  stroke: var(--clr-active);
}

.portfolio__link:active .portfolio__link-icon {
  transform: translateX(0px);
  stroke: var(--clr-active);
}
/* __________________ */

/* CONTACTS */

.contacts {
  padding-top: 113px;
  padding-bottom: 123px;
}

.contacts__title {
  margin-bottom: 20px;

}

.contacts__descr {
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1;
  text-align: center;
}

.contacts__button {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 180.5px;
  min-height: 42px;
  text-align: center;
  padding: 12px 30px;
  margin-bottom: 87px;
  color: #fff;
  background-color: #000;
  border-radius: 30px;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.contacts__button:focus {
  color: #fff;
  background-color: var(--clr-active);
}

.contacts__button:hover {
  color: var(--clr-active);
  background-color: var(--clr-still);
}

.contacts__button:active {
  color: #fff;
  background-color: var(--clr-still);
}

.contacts__button::before {
  content:' ';
  position: absolute;
  left: -5px;
  right: -5px;
  bottom: -5px;
  top: -5px;
  padding: 2px;
  border: 1px solid #000;
  border-radius: inherit;
  opacity: 0;
}

.contacts__button:focus::before {
  opacity: 1;
}

.contacts__button:hover::before {
  opacity: 0;
}

.contacts__button:active::before {
  opacity: 0;
}


.contacts__list {
  justify-content: space-between;
  margin-bottom: 46px;
}

.contacts__link {
  position: relative;
  width: 50px;
  height: 50px;
  transition: fill .3s ease-in-out;

}

.contacts__link:focus .contacts__link-img {
  fill: rgb(170, 170, 170);
}

.contacts__link:hover .contacts__link-img {
  fill: var(--clr-still);
}

.contacts__link:active .contacts__link-img {
  fill: rgb(74, 72, 72);
}

.contacts__link-img {
  width: 50px;
  height: 50px;
  fill: #000;

}

.contacts__final {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}
